      html, body {
          max-width: 100%;
          overflow-x: hidden;
          background: black;
      }

      #about {
          background: white;
      }

      #ScreenInfo {
          font-size: 1.5em;
      }

      #ScreenInfo {
          display: inline-flex;
          flex-direction: row;
          flex-wrap: wrap;
          list-style-type: none;
      }

      .jarallax {
          height: 1000px;
      }

      @media (max-width: 740px) {
          html, body, header, .jarallax {
              height: 100vh;
          }
      }

      @media (min-width: 800px) and (max-width: 850px) {
          html, body, header, .jarallax {
              height: 100vh;
          }
      }

      @media (min-width: 560px) and (max-width: 650px) {
          header .jarallax h1 {
              margin-bottom: .5rem !important;
          }
          header .jarallax h5 {
              margin-bottom: .5rem !important;
          }
      }

      @media (min-width: 660px) and (max-width: 700px) {
          header .jarallax h1 {
              margin-bottom: 1.5rem !important;
          }
          header .jarallax h5 {
              margin-bottom: 1.5rem !important;
          }
      }

      .top-nav-collapse {
          background-color: #000 !important;
      }

      .navbar:not(.top-nav-collapse) {
          background: transparent !important;
          color: black;
      }

      @media (max-width: 768px) {
          .navbar:not(.top-nav-collapse) {
              background: #000 !important;
          }
      }

      @media (min-width: 800px) and (max-width: 850px) {
          .navbar:not(.top-nav-collapse) {
              background: #000!important;
          }
      }

      .navbar {
          z-index: 9;
      }

      .collapse-content .fa.fa-heart:hover {
          color: #f44336 !important;
      }

      .collapse-content .fa.fa-share-alt:hover {
          color: #0d47a1 !important;
      }
